<div class="center-form signup-page">

   
    <!-- Logo -->
    <div class="logo-container">
        <img src="assets/logo.png" alt="Logo" class="logo" />
    </div>
   
    <h2>Enter Details to Register</h2>
  
    <!-- Registration Form -->
    <form nz-form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="custom-form">
  
        <!-- Name Field -->
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your name!">
                <nz-input-group nzPrefixIcon="idcard">
                    <input type="text" nz-input formControlName="name" placeholder="Enter name" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
  
        <!-- Email Field -->
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your email!">
                <nz-input-group nzPrefixIcon="user">
                    <input type="email" nz-input formControlName="email" placeholder="Enter email" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
  
        <!-- Password Field -->
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your password!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Enter password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
  
        <!-- Submit Button -->
        <button nz-button nzType="primary" class="submit-btn" [disabled]="registerForm.invalid">
            Register
        </button>
  
    </form>

</div>